[2019-03-16 09:46] rajasegar opened #1 "Preserve formatting"
Currently, the codemod is not preserving the code format properly, there are some missing indentations and line breaks. Need to fix this.

[2019-03-16 09:49] rajasegar opened #2 "Block params need to be tweaked"
Now the codemod transforms just convert the block params syntax as such with the dot notation which is not the right syntax proposed.

Original curly brace syntax:

[code]
Expected output:
[code]

Actual Output:
[code]

[2019-03-16 09:52] rajasegar opened #3 "Need to address all the HTML attributes conversion"
The codemod supports transforming only a limited set of HTML attributes. Need to add all the attributes in this list:
[code]

[2019-03-16 09:53] rajasegar opened #4 "Handlebars block helpers like each, if, unless, etc.,"
Need to support other block helpers apart from each and if.
[code]

[2019-03-16 09:55] rajasegar opened #5 "Compatibility with ember-template-recast"
Need to make the codemod work with ember-template-recast - A Non-destructive template transformer by @rwjblue
https://github.com/ember-template-lint/ember-template-recast

[2019-03-16 10:23] jelhan commented on #1
Accordingly to an [answer by @ef4 on discuss.emberjs.com](https://discuss.emberjs.com/t/has-anyone-created-a-codemod-for-ember-bootstrap-or-at-least-one-that-works-on-template-files/15714/2?u=dknutsen) writing "there’s not a handlebars AST printer that does a good job of preserving formatting. That is the main blocker to writing HBS code mods." It's from October 2018, so maybe there were some impr

[2019-03-16 10:34] rajasegar commented on #1
@jelhan Have you take a look at ember-template-recast by @rwjblue, it is supposed to be a non-destructive template transformer, i didn't explored it thoroughly, need to dig deep.

[2019-03-16 10:38] jelhan commented on #1
Another option would be not to preserve the format but just apply the coding style used in guides? Not quite sure if this is easier but having a code mod that also fixes all template linting errors sounds quite nice. :laughing:

[2019-03-16 10:40] jelhan commented on #4
Should also include `{{input}}`, {{textarea}}` and `{{link-to}}` for now as they can't be used with angle bracket invocation syntax yet.

[2019-03-16 10:44] jelhan commented on #3
Do you plan to support components that have properties with same name as HTML attributes? E.g. [`<BsButton>` component of Ember Bootstrap](https://www.ember-bootstrap.com/api/classes/Components.Button.html#property_type) has `type` and `value` properties.

[2019-03-16 15:20] Alonski commented on #1
You could also use Prettier to format using the glimmer parser :)
`prettier template.hbs --parser glimmer`
Something like that

[2019-03-18 09:19] rajasegar-c commented on #1
Thanks @Alonski it works, but it entirely reformats the whole file though the formatting is pretty.
Sounds OK to me

[2019-03-18 09:30] jelhan commented on #2
I'm not sure what this issue is about. Component yields a hash in curly brace syntax but a component in expected syntax. Actual output looks fine for me except for yielding lowercase variable but using it as uppercase: `<SuperSelect as |s|><S.option></S.option></SuperSelect>`

If I didn't missed something everything needed here is not capitalizing tag names that contain a dot isn't it?

https://gi

[2019-03-28 13:39] ClaytonTurner opened #6 "Inconsistency in Capitalization"
When converting components you can sometimes get capitalization inconsistencies which causes issues in rendering. For example let's say I have this component:

[code]

The codemod would turn it into this:

[code]

The capitalization of Card in `<Card.title` creates issues after having MyCard references as `|card|`. It's not tricky to manually fix, but tracing the issue can be tricky if you don't k

[2019-03-29 23:15] #6 closed

[2019-03-30 02:42] #4 closed

[2019-03-30 11:24] jelhan commented on #2
Has been fixed by https://github.com/rajasegar/ember-angle-brackets-codemod/commit/b99adce11e37058e2d727a6e2b6f00f968f739af and https://github.com/rajasegar/ember-angle-brackets-codemod/commit/6c5c7a1621985bd205720a37670ff01c3443d09e isn't it?

[2019-03-30 12:47] rajasegar commented on #2
Then, can we close this one i guess?

[2019-04-13 00:39] musaffa opened #8 "Support for Emblem?"
Some of us use [Emblem](http://emblemjs.com/) for templating in Ember projects. Emblem files are eventually converted to Handlebars during the build process.

Handlebars Syntax:
[code]

Emblem Syntax without Angle Bracket syntax:

[code]
Emblem Syntax using Angle Bracket syntax:

[code]

Multiline syntax without Angle Bracket syntax:

[code]

Multiline syntax with Angle Bracket syntax:

[code]

[2019-04-13 02:49] rajasegar commented on #8
@musaffa I have not familiar with the Emblem parser, will explore it to see the possibility, meanwhile appreciate very much any PR for the same

[2019-04-13 09:55] jelhan commented on #2
I guess so. At least I'm not aware of any issue left.

[2019-04-16 15:26] jacobq opened #9 "Trouble with nested helpers having more than 1 argument"
Input:
[code]

Output:
[code]

[2019-04-16 18:44] jonpitch opened #10 "Ignore t helper"
my application is localized and uses the `t` helper from [ember-intl](https://github.com/ember-intl/ember-intl) that I _think_ should be ignored by this codemod, since it doesn't support angle bracket invocation.

[code]

I have some bandwidth to open a pull request, but just a couple items I could use some input on:
- should we assume `t` is `ember-intl`/`ember-i18n` across the board or make it s

[2019-04-17 03:41] rajasegar-c commented on #10
Yes t should be considered for translation helper overall and you can add it to ignore mustache statement list, I am ok with it

[2019-04-17 12:14] #2 closed

[2019-04-18 03:02] #10 closed

[2019-04-18 18:15] lifeart opened #12 "better helper checking"
https://github.com/rajasegar/ember-angle-brackets-codemod/blob/52a6b8ba9d4038aa55b95ff288052e9834a7ae77/transforms/angle-brackets/transforms/angle-brackets-syntax.js#L146

1.) we can suggest - all items without `-` - helpers
2.) items, having `-` in name and not having `@`, `.` in name - components
3.) items, having `/` in name - components

[2019-04-18 18:18] lifeart commented on #12
list of known helpers: https://github.com/lifeart/ember-ast-hot-load/blob/master/lib/ast-transform.js#L26

[2019-04-18 18:22] lifeart commented on #12
also, possible to get all project's components, using https://github.com/lifeart/ember-component-info (based on https://github.com/lifeart/ember-meta-explorer)

[2019-04-18 23:07] tylerturdenpants commented on #9
@jacobq use my PR #13 to see if it fixes your issue until its merged.

[2019-04-19 09:31] GavinJoyce opened #14 "Test files seem to be spread across multiple folders"
There seems to be two directories where the test files live, `__testFixtures__` and `__testfixtures__`:

![image](https://user-images.githubusercontent.com/2526/56418189-1e9d1580-628e-11e9-93a6-21e54dd8b7f2.png)

When I run `npm test` on linux, only the tests in `__testfixtures__` seem to run.

Weirdly, when I checkout this project on OSX I only see one directory:

<img width="505" alt="Screen Sho

[2019-04-19 09:39] GavinJoyce opened #15 "Support `data-*` attributes"
We should detect attributes that begin with `data-*`, they are commonly used with https://github.com/simplabs/ember-test-selectors.

**Input:**

[code]

**Current Output:**

[code]

**Suggested Output:**

[code]

[2019-04-19 12:17] GavinJoyce opened #18 "Support valueless `data-*` attributes"
After https://github.com/rajasegar/ember-angle-brackets-codemod/pull/17 lands, transforming `data-test-accordion=true` works:

[code]

[code]

Transforming `data-test-accordion` on it's own doesn't however:

[code]

[code]

[2019-04-19 12:20] GavinJoyce commented on #18
[code]

<img width="1283" alt="Screen Shot 2019-04-19 at 13 19 44" src="https://user-images.githubusercontent.com/2526/56423891-ea355380-62a5-11e9-967c-df42c0878e44.png">

-----

[code]

<img width="1284" alt="Screen Shot 2019-04-19 at 13 19 58" src="https://user-images.githubusercontent.com/2526/56423899-f4575200-62a5-11e9-8ed8-153923087139.png">

[2019-04-19 13:01] #9 closed

[2019-04-19 13:02] #14 closed

[2019-04-19 13:03] #15 closed

[2019-04-19 13:09] rwjblue commented on #14
@GavinJoyce - OSX by default is case insensitive, so it merges the dirs when you check out 😩

[2019-04-19 13:16] tylerturdenpants commented on #1
@rajasegar-c I have been working on transitioning to ember-template-recast and have a near 1 to 1 transform as the original transform but I’m unsure how to write test for it.  Could you help me with that? @rwjblue is there a way to test using the currrent fixtures?

[2019-04-19 13:47] rwjblue commented on #12
Hmm, this isn't true. Components haven't needed a `-` in their name for some versions (since at least 3.8 but possibly since initial angle bracket invocation support was added)

[2019-04-19 13:48] GavinJoyce commented on #18
support for this was added in https://github.com/rajasegar/ember-angle-brackets-codemod/pull/17/commits/bb766be4d0a7e7e33f41510e63cd37296a2fa8e4

[2019-04-19 13:48] #18 closed

[2019-04-19 14:02] rajasegar commented on #1
@tylerturdenpants As far as I know, the tests should work fine, since you will be using a different parser here for the transform, it should not affect the tests I guess

[2019-04-19 14:42] lifeart commented on #12
@rwjblue yes, but, it will cover 90% cases. Single-word components, after 3.8, with curly invocation - seems rare case

[2019-04-19 19:41] jacobq opened #19 "Fails on simple `liquid-if` block"
Input:
[code]
Error:
[code]

Also, if the condition/argument is changed then it doesn't throw this error yet produces incorrect output (interprets helper name as component name):

Input 2:
[code]

Output:
[code]

This appears to be related to #12

[2019-04-19 20:59] jacobq commented on #12
This heuristic leads to the wrong conclusion for many helpers that I am currently using, many of which are in the [`helperNames` you linked](https://github.com/lifeart/ember-ast-hot-load/blob/master/lib/ast-transform.js#L26).

I'm not sure if this would make things easier or harder to implement, but my preference would for the codemod to:

1. Allow a list of helper names ("blacklist") to be passed

[2019-04-19 21:11] tylerturdenpants opened #20 "Travis not running all test fixtures"
@rajasegar the output from Travis does not show all the new tests.  Can you look into this, please?

[2019-04-19 21:23] rwjblue commented on #20
Should have been fixed by https://github.com/rajasegar/ember-angle-brackets-codemod/pull/16 I think 🤔

[2019-04-19 22:33] tylerturdenpants commented on #20
ya, that looks right!  thanks at @rwjblue.  I was looking at my Travis jobs from the other day.

[2019-04-19 22:33] #20 closed

[2019-04-21 20:54] AleksandrBorovkov opened #21 "SyntaxError: Closing tag `Action` without an open tag"
```<input type='text' value={{userValue}} oninput={{action 'change' value='target.value'}} class="{{if invalid 'invalid-input'}}">```
transformed to
```<input type="text" value={{userValue}} oninput=<Action @value="target.value"></Action> class="{{if invalid "invalid-input"}}">``` with error ```SyntaxError: Closing tag `Action` (on line 1) without an open tag. (1:0)```

[2019-04-22 20:12] AleksandrBorovkov opened #22 "wrong link-to transformation"
`link-to` helper transformed to `LinkTo`

[2019-04-22 20:47] tylerturdenpants commented on #22
This transforms is also changing some builtins to angle brackets such as `link-to`, `input`, etc. per https://github.com/emberjs/rfcs/blob/32a25b31d67d67bc7581dd0bead559063b06f076/text/0459-angle-bracket-built-in-components.md

Considering the above, is this still an issue?

[2019-04-22 21:22] AleksandrBorovkov commented on #22
I see. Ok, I think it can be closed then. But this codemod is not usefull before this RFC will be implemented

[2019-04-22 21:22] #22 closed

[2019-04-23 09:32] GavinJoyce opened #24 "Helper named arguments are lost"
We seem to be dropping helper named arguments:

**input:**

[code]

**current output:**

[code]

TODO:

 * [x] better support named arguments: https://github.com/rajasegar/ember-angle-brackets-codemod/pull/25
 * [ ] support mixed positional and names arguments: https://github.com/rajasegar/ember-angle-brackets-codemod/pull/26

[2019-04-24 09:08] #24 closed

[2019-04-24 12:24] GavinJoyce commented on #12
I'm experimenting with allowing a list of helpers to be provided here: https://github.com/rajasegar/ember-angle-brackets-codemod/pull/28

[2019-04-24 13:43] GavinJoyce commented on #12
https://github.com/rajasegar/ember-angle-brackets-codemod/pull/28 adds inital support for providing an optional config file. This currently supports providing a list of helpers in the following form:

[code]

[2019-04-24 14:12] GavinJoyce commented on #12
@lifeart's [ember-ast-hot-load](https://github.com/lifeart/ember-ast-hot-load#how-to-use-this-addon) should help get a list of helpers from a running app

[2019-04-24 14:18] rajasegar commented on #12
Thanks a lot @GavinJoyce for the help, much appreciated 🙏

[2019-04-24 14:40] #21 closed

[2019-04-24 14:45] GavinJoyce commented on #19
https://github.com/rajasegar/ember-angle-brackets-codemod/pull/28 should help.

We should probably consider expanding the list of built in known helpers though

[2019-04-24 14:47] tylerturdenpants opened #29 "Default Helper List"
Politely lift https://github.com/lifeart/ember-ast-hot-load/blob/master/lib/ast-transform.js#L26 to be a default set of helpers within the transform to work alongside @GavinJoyce helper blacklist

[2019-04-24 14:48] tylerturdenpants commented on #19
See issue #29

[2019-04-24 21:01] patocallaghan commented on #1
@tylerturdenpants do you have a branch with the ember-template-recast to share? I'd be curious to see the results it gives.

I've been playing around with Prettier handlebars support and it still seems a bit experimental to me as it gives some strange formatting results. I wonder if using Prettier formatting out-of-the-box could be a blocker for folks to adopt using this codemod?

[2019-04-24 21:03] #19 closed

[2019-04-24 21:04] GavinJoyce commented on #29
closed by https://github.com/rajasegar/ember-angle-brackets-codemod/pull/30

[2019-04-24 21:04] #29 closed

[2019-04-24 21:08] tylerturdenpants commented on #1
What I have been able to do is retrofit the `jscodeshift` to use `ember-template-recast`, but the API for `codemod-cli` doesnt support `ember-template-recast` which means I can't use the same testing code here in the repo.  That's my only hurdle to pushing any code.  We need to figure out how to test.  I can push to the repo my `ember-template-recast` version if you want.

[2019-04-24 21:12] patocallaghan commented on #1
@tylerturdenpants yeah that would be great 👍 I'm curious to see the difference between the formatting.

[2019-04-24 23:59] tylerturdenpants commented on #1
@patocallaghan

Use my branch https://github.com/tylerturdenpants/ember-angle-brackets-codemod/tree/use-etr

[code]
`cd` into the etr directory and run: `ember-template-recast . -t transform.js`

[2019-04-25 12:28] GavinJoyce opened #31 "{{link-to}} positional param is dropped"
[code]

currently transforms to:

[code]

it should transform to:

[code]

[2019-04-25 14:52] GavinJoyce commented on #31
Here's another issue:

[code]

is currently transformed into:

[code]

[2019-04-25 14:55] tylerturdenpants commented on #31
I fix or try to fix!  I’m guessing @tagName=‘’ is missing?

On Thu, Apr 25, 2019 at 7:52 AM Gavin Joyce <notifications@github.com>
wrote:

[2019-04-25 14:57] GavinJoyce commented on #31
Oh, sorry - I meant to paste that into an internal github issue, not this one 😆. Please do fix it if you like, otherwise I'm happy to do so later

[2019-04-25 15:13] #31 closed

[2019-04-25 19:29] GavinJoyce opened #33 "`name=""` is incorrectly transformed"
[code]

is currently transformed to:

[code]

it should be transformed to:

[code]

[2019-04-25 19:32] tylerturdenpants commented on #33
So I have it fixed in the AST Explorer, but for some reason, glimmer builders refuse to print the empty string `''` or `""`

Hopefully, I'll have a fix for it soon

[2019-04-25 19:33] GavinJoyce commented on #33
Thanks, yeah - `b.attr("@tagName", b.text(""));` seems to result in `@tagName` instead of `@tagName=""`.

I'll leave it to you, LMK if I can help with anything

[2019-04-25 20:22] rwjblue commented on #33
Somewhat hacky solution, but one thing to do would be to replace with `b.text('SPECIAL_UNIQUE_VALUE_FOR_EMPTY_STRING')` then replace that manually in the string just before returning...

[2019-04-25 20:23] tylerturdenpants commented on #33
@rwjblue icky, I was just about to open a failing test in glimmer-vm

[2019-04-25 20:26] tylerturdenpants commented on #33
@rwjblue should I open a failing test?

[2019-04-25 20:34] rwjblue commented on #33
Its just going to be hard to fix. Basically we internally represent `<div data-foo></div>` as if that attribute had `''`, and the printer can't disambiguate between "had no value" vs "had an empty string". From glimmer-vm's perspective this "is fine" (there is functionally no difference since internally it would be calling `el.setAttribute('data-foo', '')` either way) and it is not intending (at t

[2019-04-25 20:35] tylerturdenpants commented on #33
OK, fixing using the hack.  Thanks!

[2019-04-25 21:59] tylerturdenpants commented on #33
@GavinJoyce @GavinJoyce Pr #35

[2019-04-25 22:15] patocallaghan commented on #1
@tylerturdenpants doesn't look like the ember-template-recast (ETR) version is as stable as I'd hoped. I've never used ember-template-recast before so maybe I'm misunderstanding the `non-destructive` part. I have lots of components which place their properties onto separate lines but it appears ETR just outputs them all onto the same line. However it does leave the rest of the template alone.

[co

[2019-04-25 22:58] patocallaghan opened #36 "What should we do if code-modding components that contain positional params?"
~~It looks like we drop the positional param on components like [vertical-collection](https://github.com/html-next/vertical-collection).~~ It looks like this is expected. See my comment [below](https://github.com/rajasegar/ember-angle-brackets-codemod/issues/36#issuecomment-486876186)

This is a slightly simplified code sample from the vertical collection guides. Notice we lose the `items` positio

[2019-04-25 23:01] tylerturdenpants commented on #36
@patocallaghan Is this off of master or the latest release?

[2019-04-25 23:11] patocallaghan commented on #36
@tylerturdenpants This is on latest master. I've a failing test here https://github.com/rajasegar/ember-angle-brackets-codemod/pull/37

[2019-04-25 23:45] patocallaghan commented on #36
@tylerturdenpants I'm just getting to grips with Angle Bracket syntax and this looks like it's somewhat expected. [Angle Bracket components don't support positional params](https://github.com/emberjs/rfcs/blob/master/text/0311-angle-bracket-invocation.md#positional-arguments) and should instead be keyed properties

See this discuss answer https://discuss.emberjs.com/t/how-to-use-positionalparams-w

[2019-04-25 23:47] rwjblue commented on #33
haxxxxx for lyfe!!!

Serious though, I do think that is the most practical solution

[2019-04-25 23:49] tylerturdenpants commented on #33
FWIW, I did do deep dive into glimmer to figure things out which was super cool!

[2019-04-25 23:56] tylerturdenpants commented on #36
The fact that this has tripped me up while working on the codemod makes me feel like this is a really good idea.  The only downside would be the clutter we could unnecessarily cause as a result.  Maybe just a console message instead?

@rajasegar @GavinJoyce @rwjblue what do you think?

[2019-04-26 00:02] tylerturdenpants opened #38 "data attributes with no value are transformed incorrectly"
Given:
[code]

Result:
[code]

Expected:
[code]

[2019-04-26 05:58] GavinJoyce commented on #36
These comments might get lost in a sea of other changes in the resultant diff. Emit a log file or console messages which includes pointers to code that couldn't be converted seems like a useful improvement

[2019-04-26 07:44] #33 closed

[2019-04-26 08:07] GavinJoyce commented on #38
fixed with https://github.com/rajasegar/ember-angle-brackets-codemod/pull/35

[2019-04-26 08:07] #38 closed

[2019-04-26 08:52] GavinJoyce commented on #36
As a first step, here's a PR which skips and emits a simple console warning: https://github.com/rajasegar/ember-angle-brackets-codemod/pull/42

[2019-04-26 09:39] GavinJoyce opened #43 "Add an option to allow skipping conversion of `{{link-to}}` and other built-in components"
It seems that support for angle bracket invocation for built in components ([RFC](https://github.com/emberjs/rfcs/pull/459)) is currently behind a `ember-glimmer-angle-bracket-built-ins` feature flag and isn't available to apps running the latest Ember version (3.9.1 at the time of opening this issue).

In order to make this codemod useful to people running existing Ember apps that want to increme

[2019-04-26 09:53] #43 closed

[2019-04-26 11:06] patocallaghan commented on #36
@GavinJoyce @tylerturdenpants We could follow a similar pattern to ember-modules-codemod which [wrote a log file if it discovered unknown modules](https://github.com/ember-cli/ember-modules-codemod/blob/bbd64230113856cc2e4f58c3eff47feaf9c7b3aa/transform.js#L116-L126) during the transform

[2019-04-26 14:04] GavinJoyce opened #45 "Prettier's whitespace stripping can cause issues"
With the following input (from a component which renders some example JavaScript for human consumption):

[code]

Prettier seems to reformat it into:

[code]

Which then fails the idempotent test:

[code]

[2019-04-26 14:13] GavinJoyce commented on #45
Having a way for an app to mark some hbs as ignored might be a simple way around what's likely a long tail of similar issues

[2019-04-26 14:39] GavinJoyce opened #46 "Support whitespace control (`~`)"
The following input:

[code]

results in the incorrect output:

[code]

we should leave `~`s in place

[2019-04-26 14:40] tylerturdenpants commented on #46
You give me work, I’ll give you work!

[2019-04-26 14:50] GavinJoyce opened #48 "entities are being replaced with characters"
Input of `&lt; &gt; &times;` is resulting in output of `< > ×`

related issue: https://github.com/glimmerjs/glimmer-vm/issues/833

[2019-04-26 15:19] GavinJoyce commented on #46
It looks like the presence of `~`s isn't included in the AST:

<img width="709" alt="Screen Shot 2019-04-26 at 16 18 31" src="https://user-images.githubusercontent.com/2526/56818193-06556980-683f-11e9-83db-49c22739e13e.png">

I wonder if we can use the location information to lookup the source and detect if there are preceding or trailing characters?

[2019-04-26 15:45] rwjblue commented on #48
FWIW, this is a large issue over in prettier's side too (changing `&nbsp;` to ` `) due to the underlying issue. I'd personally be happy to add a mode to the glimmer parser to avoid translation of entities (also happy to point folks in the right direction on how to wire that up) that we could use for thigns like this lib, prettier, ember-template-recast, etc where you want a source -> source transf

[2019-04-26 15:56] rwjblue commented on #46
Ya, we can either use the source info to introspect for the `~` or we can make glimmer-vm include them in the generated AST. I'd vaguely prefer the latter.

Should be straight forward to add I think, see here:

https://github.com/glimmerjs/glimmer-vm/blob/157ffdb705699c8a03c7a4199af1779d2eea1b1f/packages/%40glimmer/syntax/lib/parser/handlebars-node-visitors.ts#L100

That location (and the BlockSta

[2019-04-26 17:44] tylerturdenpants commented on #48
Point away. I'm interested.

[2019-04-30 08:12] GavinJoyce commented on #48
@rwjblue I'd be interested in these pointers too. Having worked with HBS codemods a little, it's clear that there is an opportunity to make some fundamental changes which will enable much more comprehensive tooling possible. @patocallaghan and I are keen on helping get tools like prettier for hbs into a great place and addressing these fundamental issue seems like a good first step.

[2019-04-30 18:04] rwjblue commented on #48
Sorry :( I did a first pass here: https://github.com/glimmerjs/glimmer-vm/pull/938

[2019-04-30 18:09] tylerturdenpants commented on #48
@rwjblue will a release be cut soon?

[2019-04-30 18:51] rwjblue commented on #48
Needs review (I pinged folks), but shouldn't take too long to land + release once its been reviewed.

[2019-04-30 19:07] GavinJoyce commented on #48
Nice one!

[2019-04-30 19:47] rwjblue commented on #48
We should setup a time to brainstorm on the general problem though. The fix I submitted will only help some of the issues, and we will continue to have to fix things in convoluted ways due to the Handlebars parser being so lossy. Things like `{{~` preservation are a good example of the fundamental failure scenarios.

I _think_ we will ultimately need to do a custom parser (we already differ from H

[2019-04-30 20:03] tylerturdenpants commented on #48
@GavinJoyce whoever has the free time to take this up should take it up.  I can create releases, so let me know when I can help.

[2019-04-30 20:32] GavinJoyce commented on #48
👍 That would be great. I'll ping you on discord to set something up

[2019-04-30 20:40] GavinJoyce commented on #48
From #dev-ember-js on discord:

<img width="861" alt="Screen Shot 2019-04-30 at 21 40 21" src="https://user-images.githubusercontent.com/2526/56991830-958cb500-6b90-11e9-9998-116f6b98f9e0.png">

[2019-05-06 12:01] Turbo87 commented on #8
@musaffa I recommend to migrate away from Emblem and use proper Handlebars instead. You can use https://github.com/simplabs/emblem-migrator/ to make that a little easier.

Once you're using Handlebars you can use codemods like this, you can take advantage of editor tooling and you can use https://github.com/ember-template-lint/ember-template-lint/ too. It's worth it!

[2019-05-17 16:41] Alonski commented on #48
Just pinging here to ask how this is moving along :)

[2019-05-17 19:24] rwjblue commented on #48
I published the update to @glimmer/syntax to allow opting in to "codemod" mode as of 0.41.0, if we update to that (and tweak the options we pass) we should be able to completely avoid issues with these HTML entity characters.

[2019-05-17 20:25] patocallaghan commented on #48
I've a PR to update @glimmer/syntax here https://github.com/rajasegar/ember-angle-brackets-codemod/pull/50

[2019-05-17 20:26] #48 closed

[2019-06-05 06:43] ondrejsevcik opened #53 "Option to do just one component"
Hi, it would be great to have an option to convert just one component at a time. In a large codebases, it's easier and safer to change one thing at a time rather whole codebase and then pray that it won't break.

Something like `run-codemood <component-name>`.

[2019-06-05 08:39] GavinJoyce commented on #53
you can specify a component name as follows:

`npx ember-angle-brackets-codemod angle-brackets app/templates/some-component.hbs`

[2019-06-05 08:43] GavinJoyce commented on #53
@ondrejsevcik can you confirm that it works for you? If so, we can close this issue

[2019-06-05 10:12] ondrejsevcik commented on #53
We're using pods structure and it seems it doesn't like it. When i run it with

`npx ember-angle-brackets-codemod angle-brackets app/components/<component-name>/template.hbs`

it fails with

[code]

[2019-06-06 10:16] GavinJoyce opened #54 "Prettier adds unwanted line breaks inserted between TextNodes and MustacheStatements"
see https://github.com/prettier/prettier/issues/6184

**Input:**
[code]

**Output:**
[code]

**Expected behavior:**

I think this is the desired output:

[code]

[2019-06-06 13:50] rwjblue commented on #54
I agree with your expected output. This seems like it should be addressed in prettier though, right?

[2019-06-06 13:52] GavinJoyce commented on #54
Yes, I'm working on a fix there. I opened an issue here mostly for discoverability

[2019-06-11 14:14] GavinJoyce opened #55 "`{{link-to this.dynamicRoute}}` is incorrectly transformed"
The following input:

[code]

is transformed to:

[code]

it should be transformed to:

[code]

[2019-06-11 14:52] #55 closed

[2019-06-13 03:12] mfeckie commented on #54
In a similar vein, prettier also does some breaking things to nested if/else scenarios. https://github.com/prettier/prettier/issues/5340#issuecomment-473908400

Would be nice to be able to skip prettier in the codemod and leave to the user to reformat as necessary / desired

[2019-06-13 14:19] GavinJoyce commented on #54
For speed and so that I can experiment easily, I'm working on a fork of prettier here which I'm running in conjunction with this codemod over Intercom's codebase:

https://github.com/GavinJoyce/prettier/pull/1

I'm hoping that this will enable me to:

 * Quickly and incrementally codemod our large codebase to angle bracket invocation
 * Merge most of the changes back into prettier

[2019-06-18 09:16] GavinJoyce opened #58 "`{{link-to}}` with `data-test-*` isn't converted correctly"
The following input:

[code]

results in:

[code]

it should be:

[code]

[2019-06-18 13:44] #58 closed

[2019-06-20 09:17] GavinJoyce opened #60 "Contextual components aren't fully converted, perhaps we should warn?"
The input:

[code]

is currently converted to:

[code]

ideally (as _we_ know that it's a component) , it should be:

[code]

I'm not sure that we can do more than warn here, `{{calendar.days}}` is ambiguous - it could be a component or it could be a property. Perhaps we should emit a warning?

[2019-06-20 09:53] GavinJoyce commented on #46
While we await this issue being resolved, I'm skipping files that contain a `~` character in https://github.com/rajasegar/ember-angle-brackets-codemod/pull/61

[2019-06-20 10:11] GavinJoyce opened #62 "Inline `link-to` `data-*` attributes are sometimes dropped"
related PR: https://github.com/rajasegar/ember-angle-brackets-codemod/pull/59

With the following input

[code]

This is the current, incorrect output:

[code]

It should be:

[code]

[2019-06-20 10:17] GavinJoyce commented on #62
Silly me, `{{link-to data-test-foo 'Title' 'some.route' data-test-bar}}` isn't valid input

[2019-06-20 10:17] #62 closed

[2019-06-21 12:55] GavinJoyce opened #64 "`{{{this.foo}}}` is converted into `{{this.foo}}`"
It seems that glimmer's printer might be doing this:

https://astexplorer.net/#/gist/bef864eb53e6e4666a34d9b8cc16dfa2/ae0aae9f2891948f24a7c34b9caa4456f882faf9

The AST is correct, the rendered output isn't:

<img width="1431" alt="Screen Shot 2019-06-21 at 13 54 55" src="https://user-images.githubusercontent.com/2526/59923797-33cc2700-942c-11e9-8be6-1661cbb55edd.png">

[2019-06-21 13:11] tylerturdenpants commented on #64
I’m on mobile... but should we fix this until glimmer does? @GavinJoyce

[2019-06-21 13:31] GavinJoyce commented on #64
I believe that @paddyobrien is going to have a go at fixing it in glimmer

[2019-06-22 18:36] laurmurclar opened #65 "LinkTo with undefined route is not converted correctly"
Running the codemod on:
[code]

outputs
[code]

Should be
[code]

Will take a look at fixing this myself

[2019-06-24 06:25] #65 closed

[2019-06-25 07:26] patocallaghan opened #67 "Inline link-to conversion incorrect"
I came across this scenario where codemodding a specific inline link-to doesn't convert to the correct output. It's possibly to do with the dynamic positional param.

### Before
[code]

### After
Drops the `segment.name`

[code]

### Expected
[code]

I can take on fixing this.

[2019-06-25 12:34] GavinJoyce commented on #64
we'll need to upgrade glimmer before closing this

[2019-06-25 12:44] tylerturdenpants commented on #64
i'm in the process of doing that chore work

[2019-06-25 12:54] GavinJoyce commented on #67
fixed with https://github.com/rajasegar/ember-angle-brackets-codemod/pull/68

[2019-06-25 12:54] #67 closed

[2019-06-27 15:57] hemlok opened #75 "Fails on: "param.original.startsWith is not a function""
Having a hard time tracking down what is causing this code mod to get stuck based on this stack trace 🤔

[code]

[2019-06-28 13:28] #64 closed

[2019-07-01 09:41] GavinJoyce opened #77 "inline `{{link-to}}` with query params doesn't convert correctly"
Given the following input:

[code]

This is the current incorrect output:

[code]

It should be:

[code]

[2019-07-01 14:34] GavinJoyce opened #78 "`undefined` or `null` argument in sub-expression is incorrectly dropped"
Given the following input:

[code]

This the current output:

[code]

It should be:

[code]

[2019-07-02 07:30] rajasegar commented on #78
@GavinJoyce We need to handle `NullLiteral` and `UndefinedLiteral` in `tranformAttrs` function for params. Raised a PR #80 for the same. Please check and let me know

[2019-07-02 08:48] #78 closed

[2019-07-02 09:07] rajasegar opened #81 "[DOCS] Add a debugging workflow in README"
It will surely help all the contributors of the project to identify and troubleshoot a particular bug if we have setup some quick debugging documentation.

I just found out that it was really easy to debug the codemod with two things:
1. Node inspect and debugging with Chrome
2. Selectively running tests with Jest

Will create a PR for the same asap
@GavinJoyce @rwjblue @tylerturdenpants Please sh

[2019-07-02 09:09] GavinJoyce commented on #81
👍 this will certainly be helpful.

[2019-07-02 10:58] rajasegar commented on #81
@GavinJoyce @rwjblue @tylerturdenpants
Readme updated with the debugging workflow
Please check and let me know.

[2019-07-02 11:07] #81 closed

[2019-07-02 23:09] tylerturdenpants commented on #75
Hi @hemlok!

A quick look at the stack trace will get you to the heart of the issue. The `{{link-to}}` in the source is where things quickly blow up.  After inspection, there seems to be 2 things goings on:

1. `getDataAttributesFromParams` assumes `param.original` is always a string.  Currently, this might not be the case.
2. Even if we fix `1`, the code cannot handle a `NumberLiteral` as the mod

[2019-07-03 04:52] rwjblue commented on #46
Just wanted to mention https://github.com/glimmerjs/glimmer-vm/pull/951, I think its probably good to land but was hoping to get a conceptual review by folks first.

If no movement there in a few days, ping me again 😛 (I'm forgetful)...

[2019-07-03 08:27] hemlok commented on #75
Ahhh thank you @tylerturdenpants, sorry that I didn't have more time to dig into this for myself! I appreciate the help 🙇

[2019-07-03 15:49] rwjblue opened #83 "Consider migrating to the ember-codemods .org?"
I’ve slowly been moving the general community codemods that I’ve made into the ember-codemods GitHub org. Mostly as a way to:

* increase visibility
* reduce bus factor

We’d make sure to preserve the current permissions (e.g. no reduction in control) if we did the transition.

Would this be something y’all would be open to?

[2019-07-03 15:59] tylerturdenpants commented on #83
Sounds good to me.

[2019-07-04 02:21] rwjblue commented on #46
The fix in glimmerjs/glimmer-vm#951 has landed (which auto-closed this issue), reopening to track updating here to account for the changes.

[2019-07-04 05:46] rajasegar commented on #83
👍

[2019-07-05 18:05] lolmaus opened #88 "Converts `foo=action` to `@foo={{action}}`"
...which results in

[code]

The worst part is that it's absolutely impossible to debug this issue from the dev tools, since Glimmer opcodes are incomprehensible to human.

And if you leave the tab open, it will keep rendering recursively until it freezes!

🙈

[2019-07-05 18:10] lolmaus commented on #88
To be clear, an `action` property is converted into an `{{action}}` helper called without arguments. Glimmer fails to provide a graceful error message and chokes to death.

The correct conversion should be `{{this.action}}`.

[2019-07-05 23:12] rwjblue commented on #83
@rajasegar - I added you to the org (might have to accept the invitation first [here](https://github.com/ember-codemods)), you should be able to transfer the repo now.

[2019-07-06 00:50] tylerturdenpants commented on #88
@lolmaus PR #90 should address this, but I'd like a review from the other contributors

[2019-07-06 00:51] tylerturdenpants commented on #77
@GavinJoyce I think we can close this now?

[2019-07-06 00:52] tylerturdenpants commented on #75
This has been resolved in #86

[2019-07-06 00:52] #75 closed

[2019-07-06 02:46] rajasegar commented on #83
@rwjblue Transferred. 👍

[2019-07-06 02:57] rajasegar opened #91 "Remove original author references from the source code"
Since we have transferred the repo, we need replace all the author references with ember-codemods org so that it will be easy for people to raise issues in the appropriate place like here

https://github.com/ember-codemods/ember-angle-brackets-codemod/issues

[2019-07-06 03:00] #91 closed

[2019-07-06 03:01] rajasegar commented on #83
This issue can be closed once #92 has been merged which addresses #91
@rwjblue Please let me know for anything else.

[2019-07-06 03:03] #83 closed

[2019-07-06 06:51] GavinJoyce commented on #77
👍 thanks

[2019-07-06 06:51] #77 closed

[2019-07-08 05:14] rajasegar opened #94 "Enable Coveralls support"
After the codemod is moved to the `ember-codemods` org, the coveralls integration need to be set up properly, since the coverage information is not available for the repo at present.

[2019-07-09 11:38] lolmaus opened #95 "Extra whitespace is added where it didn't exist"
This issue is twofold.

Firstly, the codemod messes with templates too much. It modifies fragments that aren't related to curly/anglebracket components. It does so by adding extra whitespace and thus messing with PR diff and git blame more than it should.

I have to manually walk hundreds of templates and undo irrelevant changes by hand.

Some files contain no component invocations at all and were

[2019-07-09 11:39] lolmaus commented on #95
Thirdly, it removed trailing newline from all templates.

[2019-07-09 12:39] lolmaus commented on #95
Another example.

It converted this:

[code]

to this:

[code]

Again, inclusion of whitespace between inline elements is a regression.

[2019-07-09 12:41] lolmaus commented on #95
It also replaced `{{!-- long comments --}}` with `{{! short comments }}`.

[2019-07-09 12:47] lolmaus commented on #95
For some reason, it expanded ALL instances like this:

[code]

into this:

[code]

But at the same time, it collapsed all instances of this:

[code]

into this:

[code]

[2019-07-09 20:04] rwjblue commented on #5
I just did a **massive** update to ember-template-recast (ember-template-lint/ember-template-recast#70) to fix many issues around doing these types of mutations. We should absolutely take a look at it again...

[2019-07-10 05:41] tylerturdenpants commented on #5
@rwjblue I will try and play with this ASAP. Very exciting!

[2019-07-10 14:06] rwjblue commented on #5
Awesome, let me know how it goes (and if you run into issues).

[2019-07-10 14:07] rwjblue commented on #5
Also, there is now a `#topic-codemods` over in the Ember Community Discord server to chat more realtimey if thats helpful.

[2019-07-19 07:19] #94 closed

[2019-07-19 07:19] rajasegar commented on #94
Coveralls enabled

[2019-07-19 07:21] rajasegar commented on #12
Can we close this issue or are we still missing something?

[2019-07-19 07:23] rajasegar commented on #8
Closing this issue since the parser is mainly intended for Handlebars and I don't see any movement or interest in doing this from the contributors and community.

[2019-07-19 07:23] #8 closed

[2019-07-19 07:25] rajasegar commented on #3
Closing this in favor of #12 to avoid duplicate issues

[2019-07-19 07:25] #3 closed

[2019-07-19 07:29] rajasegar commented on #53
@ondrejsevcik It seems like the codemod is trying to read files with extensions js,ts with this option `--extensions js,ts`
Can you try this instead and let us know:
[code]

[2019-07-19 21:20] patocallaghan commented on #12
@rajasegar I'd suggest we close it as we have the `helpers` config option now

[2019-07-20 00:36] rajasegar commented on #12
Thanks @patocallaghan

[2019-07-20 00:36] #12 closed

[2019-07-21 08:46] musaffa commented on #8
@rajasegar I've already migrated to Handlebars. Handlebars' current syntax is lot nicer than Emblem.

@Turbo87 Thanks for the suggestion.

[2019-07-22 14:47] ondrejsevcik commented on #53
Thanks, that helps.

btw, it transforms comments into something that will not compile.

[code]

[2019-07-29 09:37] Turbo87 commented on #95
I think this is a duplicate of https://github.com/ember-codemods/ember-angle-brackets-codemod/issues/54

[2019-07-29 10:05] #95 closed

[2019-07-29 10:06] lolmaus commented on #54
More cases of this bug are described in #95 (duplicate of subj).

[2019-07-30 15:47] rwjblue commented on #60
I'm sorry, what do you mean here? Are you saying that we happen to know what `PowerSelect` is and does specifically? Or that in this position (the `{{calendar.days}}` bit) can only be a component?

If it's the latter thing, I think that is incorrect. It could _easily_ be a yielded POJO with a string property.

[2019-07-30 16:21] rwjblue commented on #60
Just clarified with @GavinJoyce in Discord (come join us in #topic-codemods 😸 ) that the only one we _know_ is a component is the outer `PowerCalendar` invocation. The inner `{{calendar.days}}` is ambiguous.

For the sake of completeness ambiguous in this scenario means a few different things:

A mustache statement without named or positional arguments could be:

* a property path
* helper invocat

[2019-08-11 20:34] basz opened #104 "TypeError: _sourceMap(...).default.SourceMapGenerator is not a constructor"
Giving this a spin I'm getting an error on the first template I try to convert... Any obvious thoughts?

[code]

[code]

[2019-08-11 23:40] tylerturdenpants commented on #104
This looks suspiciously like it might be related to an incomplete install. I would delete the node_modules folders and trying again. If something persists would you mind posting the template?

[2019-08-11 23:45] tylerturdenpants commented on #104
Oops I’m sorry, I see know you are using npx. My bad. It still seems like some runtime package is missing... basically the call stack isn’t even coming out codemod code. Just for giggles, could you post/host this first template so I can double check the mod against it?

[2019-08-20 16:32] knownasilya opened #112 "splattributes invalid conversion"
`...attributes` to `...attributes=""`

[2019-08-30 02:50] atomkirk opened #117 "formatting disagrees with self-closing-void-elements"
After I ran, I get a bunch of lint errors for

https://github.com/ember-template-lint/ember-template-lint/blob/master/docs/rule/self-closing-void-elements.md

Both of these tools is provided by ember, so there should be some consensus right?

related to my comment here https://github.com/ember-codemods/ember-angle-brackets-codemod/pull/57#issuecomment-525467797

[2019-10-01 06:30] Turbo87 commented on #45
resolved by https://github.com/ember-codemods/ember-angle-brackets-codemod/pull/97

[2019-10-01 06:30] #45 closed

[2019-10-01 06:30] Turbo87 commented on #1
resolved by https://github.com/ember-codemods/ember-angle-brackets-codemod/pull/97

[2019-10-01 06:30] #1 closed

[2019-10-01 06:31] Turbo87 commented on #5
resolved by https://github.com/ember-codemods/ember-angle-brackets-codemod/pull/97

[2019-10-01 06:31] #5 closed

[2019-10-01 06:31] Turbo87 commented on #53
resolved by #140

[2019-10-01 06:31] #53 closed

[2019-10-01 06:32] Turbo87 commented on #54
resolved by https://github.com/ember-codemods/ember-angle-brackets-codemod/pull/97

[2019-10-01 06:32] #54 closed

[2019-10-01 07:29] Turbo87 commented on #88
I'm not sure if it should be the responsibility of this codemod to also adjust implicit-this situations. We have https://github.com/ember-codemods/ember-no-implicit-this-codemod for that. Maybe it would make sense to recommend to run that one first? 🤔

[2019-10-01 07:37] Turbo87 opened #146 "@required vs required"
The codemod is currently converting `required` arguments to `required` attributes, instead of `@required` arguments. This might be fine for `<Input>` (is it?), but certainly not for **all** components.

The same applies for `placeholder` vs. `@placeholder`.

The codemod also does something similar for `class`, but I suspect in that case it should be fine.

[2019-10-01 07:40] Turbo87 commented on #117
@atomkirk can you give an example snippet? the lint rule should only apply to the tags mentioned at https://github.com/ember-template-lint/ember-template-lint/blob/3561f0bf5205162cdc46f51fa8ca0c9e7f2d8d82/lib/rules/lint-self-closing-void-elements.js#L26-L43, so it seems surprising that it runs for you on arbitrary tags 🤔

[2019-10-01 07:43] Turbo87 opened #147 "Read known helpers from `app/helpers/`"
The codemod is currently not aware of the default structure of Ember projects. It might make sense to teach it about that so that it can automatically discover helpers from the `app/helpers/` folder.

This probably would not work reliably for helpers from addons, but should certainly be a step forward.

[2019-10-01 07:44] Turbo87 commented on #60
this has been resolve in the meantime. don't know by which commit exactly, but it seems to behave like that now.

[2019-10-01 07:44] #60 closed

[2019-10-01 08:08] Turbo87 commented on #36
I think the fix in https://github.com/rajasegar/ember-angle-brackets-codemod/pull/42 is sufficient. There is basically no way for us to know what to refactor this into. For certain built-in components like `link-to` it's okay to build special handling code, but I don't think it's worth the time to attempt that for every addon component like that that we encounter 😅

[2019-10-01 08:08] #36 closed

[2019-10-01 08:26] Turbo87 opened #150 "Nested else-if is missing branches"
Before:

[code]

After:

[code]

I tried this out in the ASTexplorer and it seems to be an issue in [ember-template-recast](https://github.com/ember-template-lint/ember-template-recast): https://astexplorer.net/#/gist/9796dec61c10bde67461ec1c0631bfc7/8ecc71294c2d50f9cce2ea8dc1223737bec747bc

With a regular Glimmer transform the code is correct: https://astexplorer.net/#/gist/9796dec61c10bde67461ec

[2019-10-01 08:43] #112 closed

[2019-10-01 14:06] rwjblue commented on #88
agreed, but I don't think we should be changing any existing path expressions into named arguments

[2019-10-01 14:08] rwjblue commented on #146
Ya, we should fix this. We can build in assumptions about Ember's built-in components, but we cannot make any assumptions about the others.

tldr; IMHO, this codemod _should **not**_ be migrating away from arguments to attributes in non-built-in components.

[2019-10-01 14:21] rwjblue commented on #147
IMHO, we should use the existing telemetry gathering solutions (in general many more components and helpers are provided by addons, which we _cannot_ make assumptions about).

[2019-10-01 14:54] Turbo87 commented on #146
@rwjblue how do you feel about `class`?

[2019-10-01 14:56] Turbo87 commented on #88
I'm not sure I understand what you mean by that

[2019-10-01 18:57] rwjblue commented on #146
It depends on what level of "safety" we are shooting for. `class` is _absolutely_ a value that folks might use and munge in their JS, and assuming that their JS does not need access to it is conceptually breaking.

[2019-10-01 22:10] Turbo87 commented on #146
I had similar thoughts but then couldn't come up with a realistic scenario where it actually mattered for the class attribute. But I'm fine either way. the safest way is definitely to pass it as an argument instead of attribute.

[2019-10-01 22:28] tylerturdenpants commented on #146
SO as an example, it should not do:
[code]
to
[code]
but rather
[code]
correct?

[2019-10-01 22:34] Turbo87 commented on #146
@tylerturdenpants yeah, exactly. except maybe for builtin components like input and textarea.

[2019-10-01 22:37] tylerturdenpants commented on #146
Ok. Crystal clear now. Thanks.

[2019-10-03 17:55] tylerturdenpants opened #153 "Remove nested functions within the transform to the outer scope"
Since `ember-template-recast@3.2.0` re-exports the builders from `@glimmer/syntax`, we can now move most of the inner functions to the outside of the transform.

[code]

[2019-10-04 09:51] Turbo87 opened #156 "`link-to` with conditional model is not converted correctly"
Before:
[code]

Expected:
[code]

Actual:
[code]

[2019-10-04 15:32] #146 closed

[2019-10-08 21:43] #156 closed

[2019-10-10 12:07] kellyselden opened #160 "removes windows newlines on windows machines"
Discovered here https://ci.appveyor.com/project/embercli/ember-cli-update/builds/28014446#L4814

[code]

[2019-10-11 12:10] makepanic opened #164 "computed link-to target route is removed"
I just tried this codemod and it seems to run great.

I've found one issue though:

[code]

was transformed to:

[code]

`concat` wasn't part of the codemod configuration helpers array.

[2019-10-11 17:07] #164 closed

[2019-10-11 17:09] rwjblue commented on #88
I believe this was fixed, @lolmaus can you re-test?

[2019-10-12 12:50] Turbo87 opened #167 "Support for running on templates in JS files"
Example:
[code]

[2019-10-12 13:33] rwjblue commented on #167
Should support the following import locations:

[code]

(Note that the actual local name is completely up to the app, and does **not** need to be `hbs`).

Should also support the following call signatures of `hbs`:

[code]

[2019-10-15 14:12] Turbo87 commented on #160
this sounds like it might be an issue in ember-template-recast 🤔

in any case we should adjust CI to also run on Windows to catch these sorts of issues

[2019-10-15 14:12] Turbo87 commented on #150
Resolved by https://github.com/ember-codemods/ember-angle-brackets-codemod/pull/161

[2019-10-15 20:06] rwjblue commented on #160
Agree, though I didn't _think_ it mucked with the line endings.

[2019-10-15 20:15] rwjblue commented on #160
There are no locations in ember-template-recast that I can find where a newline is being added. I created https://github.com/ember-template-lint/ember-template-recast/pull/141 to demonstrate that line endings are preserved.

[2019-10-15 21:46] rwjblue commented on #160
I'm adding windows CI there too (in a separate PR)

[2019-10-15 21:47] #150 closed

[2019-10-16 18:12] rwjblue commented on #160
Landed in https://github.com/ember-template-lint/ember-template-recast/pull/143. There were a few specific changes that I needed to make, but none of them related to formatting of the actual output (they were related to how we selected files with globby, see https://github.com/ember-template-lint/ember-template-recast/pull/147 for details on that one).

[2019-10-18 14:30] rwjblue commented on #160
@kellyselden - We'll need more help to make progress here....

[2019-10-22 19:31] kategengler opened #173 "Rewrites existing `...atttributes` to `...attributes=""`"
```<div class="foo" ...attributes>``` becomes ```<div class="foo" ...attributes="">```

[2019-10-22 21:02] kategengler commented on #173
This isn't an issue with the latest version

[2019-10-22 21:02] #173 closed

[2019-10-24 19:01] tylerturdenpants commented on #153
fixed by #175

[2019-10-24 19:01] #153 closed

[2019-10-24 19:08] tylerturdenpants commented on #46
There is test in the `2.0` release that shows this is fixed:

[code]

[2019-10-24 19:12] tylerturdenpants commented on #117
@atomkirk is this still an issue?  I'm going to close this now, but if you would like to revisit this issue, you are welcome to reopen it.

[2019-10-24 19:12] #117 closed

[2019-10-24 19:18] tylerturdenpants commented on #46
Sorry, spoke to soon, re-opening this issue

[2019-10-24 20:30] hmajoros opened #176 "compatability with "ember-holy-futuristic-template-namespacing-batman" addon?"
Hey folks, for those of us using Ember Engines + the [ember-holy-futuristic-template-namespacing-batman](https://github.com/rwjblue/ember-holy-futuristic-template-namespacing-batman) addon, will support for the `<Package$ComponentName />` syntax be added to this codemod?

Myself and @suchitadoshi1987 would be willing to help do some of the leg work, but are wondering if it would make the most sens

[2019-10-24 20:47] tylerturdenpants commented on #176
I don't think it matters where you do the work.  Forking is probably best as you can do more with your own copy of the repo.  I took a look at the other transform and it looks pretty straight forward to so move it into this transform.

I suggest you add a configuration option so that users opt into this transform.

[2019-10-24 20:48] tylerturdenpants commented on #176
I would block your work on #175, as this simplifies the overall structure of the transform.

[2019-10-24 20:51] tylerturdenpants commented on #46
I have opened this issue:
https://github.com/ember-template-lint/ember-template-recast/issues/155

And this failing test:
https://github.com/ember-template-lint/ember-template-recast/pull/156

[2019-10-25 04:34] ygongdev commented on #176
My 2 cents.
This looks like it should very easily do-able.
I took a quick peek at the transform, I think all you need is adding the additional check for `$` in
`isNestedComponentTagName`
https://github.com/ember-codemods/ember-angle-brackets-codemod/blob/008a568e3b485f75fcc6e7e4a50a862626d45073/transforms/angle-brackets/transform.js#L27

Then you should be able to run `transformNestedTagName` on `

[2019-10-25 04:44] rwjblue commented on #176
Can we explore this a bit more? What is actually wrong right now? Probably best to start with a failing test case to this repo, so we can easily see whats going on now.

[2019-10-28 01:33] rwjblue commented on #46
Just released [ember-template-recast@3.2.8](https://github.com/ember-template-lint/ember-template-recast/releases/tag/v3.2.8) which fixes the issue mentioned above. The primary changes happened in https://github.com/glimmerjs/glimmer-vm/pull/983 and https://github.com/wycats/handlebars.js/pull/1584.

[2019-10-28 08:45] #88 closed

[2019-10-28 11:11] #46 closed

[2019-10-28 11:14] rwjblue commented on #176
@hmajoros / @ygongdev - What happens when this codemod runs against ember-holy-futuristic-template-namespacing-batman templates? I would expect this codemod to pass through the `$` (or `::`) and “work”.

[2019-10-28 18:03] hmajoros commented on #176
@rwjblue I believe Suchita already spoke with you, but posting here for posterity:

The issue is that the codemod will incorrectly camel-case the component name / folder name. For example:

*Before:*
[code]

*Expected:*
[code]

*Received:*
[code]

[2019-10-28 21:07] tylerturdenpants commented on #147
this will be handled in #154

[2019-10-30 15:37] rwjblue commented on #176
Gotcha, yes that makes total sense! I chatted with @suchitadoshi1987 about this, and I _think_ this was resolved by #183.

[2019-11-03 23:10] rwjblue commented on #160
FWIW, I confirmed that:

* this codemod does not add any line breaks (it preserves the block statement contents as is)
* newly created nodes (that go through `@glimmer/syntax`s printer) do not get any additional line endings added
* ember-template-recast uses exactly the line endings that pre-existed in the file when a node is not mutated, and it does not directly add any line endings

I honestly

[2019-11-04 14:33] rwjblue commented on #160
Based on the diff pasted on https://github.com/ember-cli/ember-cli-update/pull/606 I think this line ending issue is resolved.

I suspect that it was reporting an issue with the prior major version of this codemod which still used prettier, and that prettier was the cause of the line ending differences.

Going to close now, definitely happy to reopen if I'm mistaken...

[2019-11-04 14:33] #160 closed

[2019-11-05 19:22] gorner opened #185 "Fails with `{{link-to params=...}}`"
[code]

This error is occurring with two templates, with the only thing in common (and different from every other template) being the use of the (private) params option in link-to, as in `{{#link-to params=someObject ...}}`. I suspect that's the reason for the error, but still felt like I should report it even if it's a wontfix scenario.

[2019-11-05 19:24] tylerturdenpants commented on #185
Hi @gorner

Can you provide a failing test?

[2019-11-06 19:25] gorner commented on #185
Pushed a branch with a failing test to: https://github.com/gorner/ember-angle-brackets-codemod/tree/bug/link-to-params

Note that I am not certain that `@params` works (or is intended to work) with the angle-bracket version.

Additional context: We mostly use this in our app for a set of items with associated links, some of which may just be query param settings on the current route, some of which

[2019-11-09 20:39] jrock2004 opened #188 "Passed in form component not updating correctly"
So I have an ember app of `3.12` and I just ran the code mod to also convert to angle brackets. I have one file that it did not fully convert. Not sure if it should of just skipped or if there was a way for it to do this correctly. I have the following code that is passing a yielded component to another component

[code]

In that component the code mod converted it to this

[code]

But it should b

[2019-11-10 11:54] Alonski opened #189 "Incorrect transformation with weird div/style-tag usage"
Found a bug after running the codemod on our codebase.
[code]
becomes
[code]
Notice the `=""` after the style

Currently don't have time to create a failing test and fix.

[2019-11-10 12:04] Alonski opened #190 "Incorrect transformation with curlies inside component invocation"
This:
[code]
Becomes:
[code]

Not exactly what we are looking for 😓
I know that `@arg={{"string"}}` should be `@arg="string"`

This is legacy code :)

[2019-11-10 13:04] Alonski commented on #190
This also happens:
[code]
[code]

[2019-11-11 12:04] basz commented on #104
Hi, I was thinking this was solved for me. However upon closer inspection it wasn't :-)

It seems the error does not always occur... Most of the time invocation works. When continue the  exact command will fail and then continue to fail. even after resetting the template.

Googling the error seems to point to an ignore variable, somewhere... Does that make sense to you? https://github.com/babel/ba

[2019-11-11 16:09] rwjblue commented on #188
Thank you for reporting! Would you mind sharing the original template invocation for this the template that was invoking `form.element`?

[2019-11-11 16:10] rwjblue commented on #189
Eeeck, definitely bizarre. Thank you for reporting!

[2019-11-11 16:12] tylerturdenpants commented on #189
@rwjblue I strongly feel this is a result of the test not be idempotent anymore.  We need to add this back.

[2019-11-11 16:13] rwjblue commented on #190
Yikes! thank you for reporting!

The issue here is that we are treating all mustaches as if they are the root scope, but when using angle bracket invocation some of them are in arguments/attribute space.

In order to fix, we'll need something akin to the changes in this ember-template-lint PR https://github.com/ember-template-lint/ember-template-lint/pull/884. Basically, when inside an `AttrNode`

[2019-11-11 16:39] rwjblue commented on #189
Ya, likely

[2019-11-11 18:09] jrock2004 commented on #188
Here is the code of the call of the component

[code]

Here is the component template code

[code]

Is this what you were looking for?

[2019-11-11 18:56] rwjblue commented on #188
Yep, thats it exactly, thank you!

[2019-11-12 20:53] tylerturdenpants commented on #189
this is not an issue.  Please see #191 @Alonski

[2019-11-15 16:02] #190 closed

[2019-11-15 16:10] #189 closed

[2019-11-20 14:31] MarcoKramer opened #195 "Can only run the codemod on a file once"
When I run the codemod on a file the conversion to the angle brackets syntax works fine. But when I discard the changes and try to run the codemod again I get this error:

[code]

Do you know what's causing this?

[2019-11-20 23:00] rwjblue commented on #195
Yikes, this is pretty odd. I've not run into this myself, do you know if it is specific to your project or does it happen even on other projects?

[2019-11-22 02:13] tylerturdenpants commented on #147
Closing this via #154

[2019-11-22 02:13] #147 closed

[2019-11-22 02:15] tylerturdenpants commented on #176
This has been resolved in #183 and adds general transform in #154

[2019-11-22 02:15] #176 closed

[2019-11-22 12:48] MarcoKramer commented on #195
I investigated a bit more and it only happens if I install the codemod globally. Guess I just should not do that then. 😁

[2019-11-22 15:43] rwjblue commented on #195
That is good info though, should help us reproduce...

[2019-11-25 16:16] tylerturdenpants opened #200 "Have NPX start server before running the transform."
If the NPX can find /app (and maybe some other key files to confirm its an ember project) we should start the application for the user instead instructing the user to do it.

One caveat would be to make sure we don't do this on a port already in use and keep counting upwards until one is free.

[2019-12-04 14:52] basz commented on #195
might be released to : https://github.com/ember-codemods/ember-angle-brackets-codemod/issues/104#issuecomment-552417508

[2019-12-11 22:15] hmajoros opened #206 "HTML Attributes are being prefixed with @"
HTML attributes, like data-* for example, are being incorrectly prefixed with an @ sign when running the codemod. This is an issue, because the codemod is converting an attribute to an argument, which will cause behavior change in application logic.

In this test, for example, I would expect all the data-* attributes to NOT be prefixed with @.
https://github.com/ember-codemods/ember-angle-brackets

[2019-12-11 22:19] suchitadoshi1987 commented on #206
I agree with this, and I think https://github.com/ember-codemods/ember-angle-brackets-codemod/blob/master/transforms/angle-brackets/transform.js#L112 we might need to tweak in here to make sure that attributes are not considered as args. @tylerturdenpants @rwjblue thoughts?

[2019-12-12 00:20] tylerturdenpants commented on #206
There is some discussion here:
https://github.com/ember-codemods/ember-angle-brackets-codemod/issues/146

On why we chose this direction. I'd like @rwjblue or @Turbo87 to chime in.

[2019-12-12 08:34] Turbo87 commented on #206
up until this point there were no attributes, there were only arguments. the codemod is trying to stay as conservative as possible and converts all arguments to arguments, and not to attributes because **that** would change the semantics.

I'm open to having an opt-in option to convert data arguments to data attributes automatically, but I don't think it should be done by default.

[2019-12-12 17:27] hmajoros commented on #206
@Turbo87 makes sense, agree the codemod should probably not make too many assumptions. I'll look into a config flag for converting things like data-attributes and maybe even aria-* properties.

[2019-12-14 10:44] Turbo87 opened #207 "`@model` drops helper arguments"
Before:
[code]
After:
[code]

[2019-12-14 10:56] Turbo87 opened #208 "BlockStatement not migrated"
I don't know why, but the following snippet was not converted correctly. The code lived inside another block that was correctly converted.

[code]

[2019-12-14 16:47] tylerturdenpants commented on #208
Wooo a new bug to squash. I’ll try to take a look at it this weekend.

[2019-12-14 19:25] Turbo87 commented on #208
@tylerturdenpants this was on https://github.com/rust-lang/crates.io btw

[2019-12-17 01:55] tylerturdenpants commented on #207
Eww.  This one looks yucky @Turbo87

[2019-12-17 02:41] tylerturdenpants commented on #208
@Turbo87 there are a large number of components that are being missed because the EmberObject/meta API when `ember@3.1.0` is missing `forEachDescriptors`.  Can you upgrade to something a little more current? I guess I can look into fixing the telemetry to provide some support for 3.1 but I hesitate going down that road.  Let me know what you think.

[code]

[2019-12-17 02:44] tylerturdenpants commented on #208
@Turbo87 I spoke too soon.  Deleting previous comment.

[2019-12-17 03:15] tylerturdenpants commented on #208
Ok, so I was right, because `crates.io` runs ember@3.10, there are functions missing in the meta that fail to be captured during enumeration. I will add a guard in telemetry helpers for these functions

[2019-12-17 08:00] Turbo87 commented on #208
hmm, good point. I'm not sure in which scenario I tried to run the codemod, because I do have a branch that updates the project to 3.15 😅

[2019-12-17 08:02] Turbo87 commented on #208
hold on, this is a block statement, can that be anything other than a component invocation? (except for if/each)

[2019-12-17 13:23] tylerturdenpants commented on #208
I can give you the DEBUG info in a few hours to show you that although the module for the component is there, evaluating it causes an error, and therefore never makes it to the component types array in the telemetry

[2019-12-17 15:07] tylerturdenpants commented on #208
Plus the telemetry code doesn't certify a particular block mustache statement as a valid even though it is.  I'd have to enhance the codemod to apply these heuristics.  A PR such as this would be awesome from a skilled programmer such as yourself... 😁

[2019-12-17 15:13] Turbo87 commented on #208
yeah, I think we only should rely on the telemetry data in ambiguous cases :)

[2019-12-20 15:41] Turbo87 opened #212 "Simple block `link-to` not converted"
[code]

I don't know why, but the snippet above was not converted to Angle Brackets for some reason 🤔

source: https://github.com/rust-lang/crates.io

[2019-12-20 19:19] rwjblue commented on #208
Agree.

[2019-12-20 19:44] tylerturdenpants commented on #208
@rwjblue blue I agree too... but I'm trying to find the time! 😄  Busy holiday stuff, work, and family.

[2019-12-21 16:57] #212 closed

[2019-12-21 17:01] Turbo87 commented on #207
this one is from https://github.com/mmun/ember-component-attributes btw

[2019-12-27 21:50] samselikoff opened #217 "Trouble getting codemod to run on my project"
I tried to run this codemod on one of EmberMap's templates and I'm having trouble getting it to work. It's strange because I just used this on a different project the other day.

Here's the command I ran:

[code]

And the template seems pretty standard:

<details>
<summary>View template</summary>

[code]
</details>

The codemod runs then says that there was 1 unmodified file. There were some error

[2019-12-27 21:55] tylerturdenpants commented on #217
@samselikoff if I remember you use pods for EmberMap.  The codemod does not support pods layout.

[2019-12-27 21:56] tylerturdenpants commented on #217
My apologies that this is not in the readme.  I will update it.

[2019-12-27 23:07] tylerturdenpants commented on #207
@Turbo87  I'm working on a fix.  Does this transform look correct? I will continue for all other invocations soon.

Before:
[code]
After:
[code]

[2019-12-27 23:28] samselikoff commented on #217
Oh wow that’s surprising. Even if I point at a specific file? Does it have to do with the resolver?

Is there a manual way to run it on a pods app?

[2019-12-27 23:48] rajasegar commented on #217
@samselikoff Just throwing it from the top of my head, will this help
[code]
I haven't tried it.

[2019-12-28 00:15] Turbo87 commented on #207
LGTM

[2019-12-28 00:31] samselikoff commented on #217
The thing is I originally ran this

[code]

so I already pointed to an individual file, so I don't think that's it. Think it's something else in the code.

[2019-12-28 00:32] tylerturdenpants commented on #217
There is also the issue with telemetry. Some of the logic works only with non-pod structures to determine helpers and components.  The good news however is I am working on reducing the need to rely on telemetry and file paths to more of a “type of invocation” to figure out what is component/helper.

In regards to single file, it should work, but again the telemetry will likely block you.

[2019-12-28 10:49] MichalBryxi commented on #195
Same issue. Different codemod - `ember-native-class-codemod`, but the same problem: Fails when installed globally.

[code]

While running via `npx` seems to work:

[code]

My env:

[code]

[2019-12-30 01:51] kategengler opened #219 "Rewrites escaped quotes to quotes (causing Template Compiler Error)"
[code]

was rewritten to

[code]

[2019-12-30 02:20] tylerturdenpants commented on #219
@kategengler nice one!  I’ll try to look at it in 2019 😆. Seriously I’ll try to at least get my head wrapped around this in the next day or so.

[2019-12-30 02:45] kategengler opened #220 "Incorrect transformation of use of contextual component variable into a component invocation"
[code]

transformed to:

[code]

[2019-12-30 13:42] st-h commented on #195
I've been running into the same thing after it has been recommended to me that I should install the codemods locally in order to not have to download and install chromium each time I run a codemod (which is very time consuming).
I have also noticed this issue with other codemods like native-class or no-implicit-this

[2019-12-30 16:59] petarpanic commented on #217
@samselikoff In order to use it with pods you'll have to use 1.4.12 version

You can install it locally like:

`npm install --save https://github.com/ember-codemods/ember-angle-brackets-codemod/archive/v1.4.12.tar.gz`

After that you can run it like:

`npx ember-angle-brackets-codemod angle-brackets app/pods/product-details`

And if you set config file correctly you'll be able to update some folde

[2020-01-08 21:51] #206 closed

[2020-01-09 19:52] sophiaonion opened #227 "Why is component that has positional parameters got skipped?"
Saw this warning in my console, https://github.com/ember-codemods/ember-angle-brackets-codemod/blob/f0a158464fd30e59656cb14e1a2d35a6e9eef8f0/transforms/angle-brackets/transform.js#L372. Wonder the reason behind skipping components have positional parameters?

[2020-01-09 19:56] efx commented on #200
I'd vote hinting based on `ember-cli-build.js`.
This starts the ember server right? If so you can use `ember serve --port 0` as that will find an available port.

[2020-01-10 00:07] hmajoros opened #228 "skipAttributesThatMatchRegex config needs to use strings in JSON"
When trying to use
[code]
in your config file, this is invalid JSON and the codemod will complain.

When changing this to be valid JSON, like
[code]
now the `rx.test()` no longer works since String.test() is not a function
https://github.com/ember-codemods/ember-angle-brackets-codemod/blob/f0a158464fd30e59656cb14e1a2d35a6e9eef8f0/transforms/angle-brackets/transform.js#L28

I think we should be par

[2020-01-10 00:08] suchitadoshi1987 commented on #228
👍 thank you @hmajoros will fix this shortly

[2020-01-10 19:43] jelhan commented on #167
I wasn't aware that this is formally not supported. Running the codemod with a RegExp that matches JavaScript files works quiet well. If run the codemod on the huge test suite of Ember Bootstrap and it has worked quiet well. This commit is mostly done by the codemod: https://github.com/kaliber5/ember-bootstrap/pull/966/commits/ae598bce38eaee17a46d85ff657df238c9f288b0

But there are some problems w

[2020-01-10 21:50] lifeart commented on #167
https://github.com/flashios09/ember-extract-inline-templates

[2020-01-10 22:23] #228 closed

[2020-01-11 02:18] flashios09 commented on #167
hi @lifeart , i will update the code and publish it this weekend :)

[2020-01-12 06:30] rajasegar opened #231 "Update debugging workflow in README"
Currently the commands mentioned in the debugging workflow no longer works, it only errors out like this:
[code]
Hence we need to update the same, for reference see the codemod-cli readme

This one works perfectly
[code]

[2020-01-12 07:18] rajasegar commented on #219
with input fixture like this the test fails
[code]

But if the input fixture has double slashes like this, the test passes.
[code]

[2020-01-12 07:19] rajasegar commented on #219
@kategengler Out of curiosity, it is recommended not to use bare strings in templates right? Aren't you folks using any template-lint rules with `bare-strings` rule enabled.

[2020-01-12 07:56] kategengler commented on #219
@rajasegar `no-bare-strings` is not enabled by default in ember-template-lint, neither in [recommended](https://github.com/ember-template-lint/ember-template-lint/blob/master/lib/config/recommended.js) nor octane rulesets. It's an optional rule that can be enabled in apps that enforce internationalization. This doesn't apply to all apps -- I often build internal apps that are used by just a few pe

[2020-01-12 09:31] rajasegar commented on #219
@kategengler Makes sense, understood.

[2020-01-12 10:27] tylerturdenpants commented on #219
@kategengler @rajasegar there is a fix pending.  It might be in the new `ember-template-recast`, as the root problem existed in the glimmer printer. This should be close to being finished.

[2020-01-12 12:03] rajasegar commented on #219
@tylerturdenpants So the fix would be to just bump `ember-template-recast` to a new version , I assume

[2020-01-12 14:57] tylerturdenpants commented on #219
@rajasegar yes. I reopen a dependabot closed PR that would have down that but it looks like maybe another issue made its way through.

[2020-01-16 02:12] sophiaonion commented on #220
Isn't it this will be allowed? looking at this ember doc https://guides.emberjs.com/release/upgrading/current-edition/templates/
"Yielded components can also be invoked with angle bracket syntax".

The problem I see is that the codemod doesn't do this consistently

[2020-01-16 02:12] #227 closed

[2020-01-16 02:13] sophiaonion commented on #227
https://guides.emberjs.com/release/upgrading/current-edition/templates/

"Positional arguments (e.g. {{my-component this.someValue}}) are not available in angle bracket invocation, since there is some ambiguity between their behavior and the behavior of standard HTML attributes (HTML attributes without = default to truthy). If you still need positional arguments, you must use the component with cu

[2020-01-16 13:36] kategengler commented on #220
In my example, if the yielded thing were a component, it would be correct and would work. The problem here is that it was not and the result of the codemod was a cryptic error such as "Component Sparkling water from Italy could not be found" that was hard to find the source. Since if it were a component, curly invocation would continue to work, I think the correct thing to do for ambiguous cases w

[2020-01-16 17:07] sophiaonion commented on #220
Haha, ok got it! Yeah I agree with you on that approach

[2020-01-16 22:15] ajcolter commented on #167
I haven't been able to get this to work in our test files, but I would love for that to be possible!

[2020-01-19 03:40] #231 closed

[2020-01-22 11:24] stukalin commented on #195
Same thing here with the `native-class` codemod.

[2020-01-23 06:22] stukalin commented on #195
Found a very weird solution: the problem disappeared when I installed the `jscodeshift` globally.

`npm i -g jscodeshift`.

I guess I'd stop digging here until I face it again. BTW, found the related issue on babel itself https://github.com/babel/babel/issues/9657

[2020-01-29 17:35] efx commented on #167
@ajcolter I believe you need to specify the `.js` extension explicitly. I had to run:
[code]
I saw a few parsing errors that I will open separate issues for. But to confirm @jelhan's findings, the migration worked for the majority of cases.

[2020-01-30 18:59] steventsao opened #237 "Nodes whose data attributes are valueless are excluded from codemod"
https://github.com/ember-codemods/ember-angle-brackets-codemod/blob/21d0c11c8ef2c7a6774363b2a3be1f0d3e8383f7/transforms/angle-brackets/transform.test.js#L140

Why is this component excluded from the migration whereas the other is not? It seems like this [PR](https://github.com/rajasegar/ember-angle-brackets-codemod/commit/bb766be4d0a7e7e33f41510e63cd37296a2fa8e4) has already addressed the issue I'

[2020-02-01 12:11] eelke commented on #217
I ran into the problem as well, after Installing 1.4.12 I combined everything above into the following command, which worked for me:

[code]

[2020-02-03 22:42] hmajoros opened #240 "running codemod on rendering tests breaks on < character"
I've been running the codemod on all of my project's rendering tests, ala anything that has
[code]

We've actually had pretty good success for the most part, but I have noticed a fun / interesting bug: If you test JS file contains the character `<` inside a string, or inside a comment block, the codemod seemingly attempts to parse this as HTML & blows up. A few examples we had were things like:

[

[2020-02-03 22:42] suchitadoshi1987 commented on #240
👍

[2020-02-04 02:50] pete-the-pete commented on #240
The codemod also fails if the `<` is in a comment:
ex.
/**
   * @Title: Render a thing with less than 4
   * @Steps:
   *   GIVEN a thing with 1 < stuff < 4
   */

[2020-02-11 18:06] efx commented on #240
I'm not sure where the best place to fix this is, but I recreated in https://github.com/ember-template-lint/ember-template-recast/pull/208.
I created an issue upstream with more detail: https://github.com/ember-template-lint/ember-template-recast/issues/207

[2020-02-11 19:45] rwjblue commented on #240
This codemod should not be running on JavaScript files at all...

[2020-02-11 19:47] hmajoros commented on #240
@rwjblue fwiw, it would be really nice to be able to run these on rendering tests instead of needing to migrate those manually to angle-brackets syntax.

The codemod actually works almost unexpectedly well in JS files containing templates, but with a few snags

[2020-02-13 17:50] jacobq opened #242 "Possible to run offline (not using dev server)?"
I would like to run this codemod on an [`ember-electron`](https://github.com/adopted-ember-addons/ember-electron), but it currently won't run properly via `ember s` since it relies on `requireNode` in some places. Other codemods that I've used seemed to operate solely on the source files, which hasn't been a problem. Is the only way that I can use this codemod to first modify my app such that it w

[2020-02-13 19:08] tylerturdenpants commented on #242
version 2 can be used to run offline.  It uses a best guess strategy so there might be some conversion errors

[2020-02-13 19:13] jacobq commented on #242
Ah, perfect, thank you. I think that will be good enough for me as I don't mind giving the mod some hints and doing a few manual corrections myself.

Is there some documentation that describes why the live server is needed / how it is able to do a better job than, say, version 2?

[2020-02-14 15:12] Yelinz opened #243 "Async error"
When i run any command this error comes up

[code]

[2020-02-24 16:40] thomasdurin commented on #243
Go the exact same error, tried with release `4.1.0` and `3.1.2`.

[2020-02-25 11:23] devotox opened #249 "Error transforming component with a helper that does not use positional params as an attribute"
Original

[code]

Transformation
[code]

As you can see the issue here is with `defaultDate`

[2020-03-23 13:34] abulrim commented on #243
@Yelinz can you show us the command you entered?

[2020-03-23 14:49] Yelinz commented on #243
As i said any command, so whatever is in the README and any variation of it.
e.g. `npx ember-angle-brackets-codemod http://localhost:4200 ./path/of/files/ or ./some**/*glob.hbs`

[2020-03-26 03:47] chriskrycho commented on #240
If we do want to support running on JS (which seems like a win for rendering tests), we probably need to just make this *very slightly* smarter and have it check on the context to guarantee that the string being parsed is one that's being passed as an arg to the `hbs` "function".

[2020-03-26 12:15] mansona opened #274 "Is this supposed to work in addons?"
I just ran this in an addon but it didn't convert any of the templates in `addon/components/` 🤔

My question is:
a) does it work with addons? and
b) does it work with co-located components (in an addon)?

[2020-03-30 09:39] rajasegar commented on #274
@mansona Yes it will work on addons if you point at the right folder like directly using the codemod
[code]
I am using the version 2 here, since there was no telemetry at that point, I am not sure how the current command syntax mentioned in README works for addons with telemetry
But with ember-cli-update there is an issue I guess here
https://github.com/ember-cli/ember-cli-update-codemods-manifest

[2020-03-30 09:47] rajasegar opened #282 "Making Telemetry optional instead of default"
There are a lot of issues being reported with Telemetry, and especially for addons, I am not quite sure how it will work. So I am thinking to make this optional using a command-line flag something like `--telemetry=true`. By default, the value of this flag will be false, i.e., telemetry will be disabled.

So without telemetry (default) :
[code]

With telemetry
[code]
Related issues:
#274
#243
#242

[2020-03-30 10:15] Turbo87 commented on #282
I would suggest `--telemetry=http://localhost:4200` to simplify the CLI options, but I generally agree that the telemetry tends to be a bit finicky and that it makes sense to have this codemod also run reasonably well if telemetry is not available.

[2020-04-03 16:28] rwjblue commented on #282
Ya, agree, we just need to nail down what the actual semantics should be (so that we fallback to doing something that is still safe and useful).

[2020-04-03 17:50] Turbo87 commented on #282
@rwjblue at some point this codemod didn't use telemetry yet, maybe we should go back to that state if telemetry is not available?

[2020-04-03 18:23] rwjblue commented on #282
Yep, I agree I just want to be clear about what features are telemetry only (documented in the README) and ensure that the guards throughout the code are clear.

[2020-04-22 20:34] tomwayson commented on #217
I'm just curious, b/c I see both of the above examples mention `./app/pods`, does that mean this codemod won't work only if you are using [podModulePrefix](https://cli.emberjs.com/release/advanced-use/project-layouts/#podmoduleprefix), or will it not work are using pods at all (i.e. `usePods: true`).

[2020-04-24 16:16] rwjblue commented on #217
I believe that the codemod cannot infer anything from telemetry when pods structure is in use.

[2020-04-24 16:52] tomwayson commented on #217
Thank you.

So if #287 lands `podModulePrefix` users should be able to run:

[code]

or non `podModulePrefix` users like myself should be able to run:

[code]

right?

[2020-04-27 14:52] rwjblue commented on #217
Yes, I _think_ that is correct.

[2020-04-27 15:00] #282 closed

[2020-05-05 17:57] rwwagner90 opened #319 "Error: Protocol error (Page.navigate): Cannot navigate to invalid URL"
I don't seem to be able to run this. I get `Error: Protocol error (Page.navigate): Cannot navigate to invalid URL` Any ideas?

[code]

[2020-05-05 18:09] rwwagner90 commented on #242
@jacobq did you ever figure this out? I'm hitting errors with puppeteer.

[2020-05-06 05:07] jacobq commented on #242
IIRC I just used the old version (which doesn't use puppeteer).

[2020-05-06 09:29] rajasegar commented on #242
@rwwagner90 Can you try this now, since we have made telemetry optional
[code]

[2020-05-06 14:04] rwwagner90 commented on #242
@rajasegar you have to pass `--no-telemetry`? I tried omitting `--telemetry` as the docs suggested. If we have to manually pass `--no-telemetry` we should probably document that.

[2020-05-06 15:39] rwjblue commented on #319
How did you invoke?

[2020-05-06 16:55] rwwagner90 commented on #319
`npx ember-angle-brackets-codemod --telemetry=http://localhost:4200 ./app/templates` I believe. Also, tried without telemetry. `npx ember-angle-brackets-codemod ./app/templates`

[2020-05-07 14:15] rwjblue commented on #319
Can you retry now that we have released 5.0.0? I suspect that you ran `npx ember-angle-brackets-codemod` with the `--telemetry` flag (because that is what the README said to do at the time) but there was no released version that supported leaving off the `http://localhost:4200` bit.

[2020-05-07 16:21] rwwagner90 commented on #319
Yes, it works now with telemetry disabled, thanks!

[2020-05-07 16:21] #319 closed

[2020-05-28 19:41] backspace commented on #185
This just happened to me too, thanks for opening the issue, @gorner. The file in question was [this one](https://github.com/hashicorp/nomad/blob/4eaf2e4f67320cec83a91068d9d609011cd21c67/ui/app/templates/components/app-breadcrumbs.hbs#L70).

[2020-05-29 14:35] backspace commented on #237
Thanks for making a PR for this, it’s saving me a lot of mechanical work! Might I suggest adding a note to the documentation that this exists? I wouldn’t have known if I hadn’t seen this open issue.

[2020-05-29 16:13] rwjblue commented on #237
Ya, documentation PR would be heartily welcomed 😸

[2020-05-29 16:23] backspace commented on #237
fair enough, I don’t know why I didn’t just do it 🙃 but now #328 exists! I think this issue can be closed 🤓

[2020-05-29 17:08] backspace commented on #185
`@params` does still work, incidentally! 🥳

[2020-05-31 19:14] #237 closed

[2020-05-31 19:14] steventsao commented on #237
Closing =) @backspace

[2020-06-29 18:56] alexlafroscia commented on #243
I'm seeing the same issue -- if I run the following

[code]

(Our app runs on port `9999`, hence the slight different from the normal usage there)

I get the same error about `entries` being accessed on `undefined`.

My guess is that the issue is here:

https://github.com/ember-codemods/ember-codemods-telemetry-helpers/blob/a1ae780e23e9fec88112679d34277092e51690c2/lib/gather/gather-telemetry.js#L3

[2020-07-14 22:28] rjschie commented on #243
I was getting this as well and found it was due to the Puppeteer version using Chrome 78.0 and our build target was only to the last 1 Chrome version which made our build incompatible with Chrome 78.0.

[2020-07-17 16:06] alexlafroscia commented on #243
Huh, good call-out there @rjschie! I bet that could be what the issue for me is, too -- our app is set up to just use the last 1 chrome version in development mode.

[2020-08-18 15:31] alexlafroscia commented on #243
Unfortunately we're _still_ seeing the issue even with two different "fixes" attempted

1. Setting our `browsers` list for the development build to `Chrome >= 78`
2. Cloning the code-mod locally and overriding the dependency on `ember-codemods-telemetry-helpers` to pull from the `master` on GitHub, where an update to Puppeteer has landed thanks to @rjschie (the update hasn't actually been released

[2021-02-23 09:10] IgorKvasn commented on #195
I encountered the same problem and did a bit of debugging

I was able to monkey patch it somehow: I cloned the codemod repo, installed dependencies and then manually altered **index.js** in **convert-source-map** dependency:

before (https://github.com/thlorenz/convert-source-map/blob/9e9a7a9b652c30878c9c9aa591d861a9fdf61a7e/index.js#L61)
[code]

after
[code]

After this change, everything works f

[2021-03-23 20:54] kcarmonamurphy opened #436 "Can I convert a single component at a time?"
I would like to use this codemod however I'm taking a piecemeal approach to conversion and doing it one component at a time, across all of the files in the repo. I can't find references in the docs for this kind of feature. Is it possible?

[2021-03-23 21:10] tylerturdenpants commented on #436
This would be possible if you populated the skipComponent feature. However this would be extremely tedious. Adding a config parameter to only change one component at a time could be implemented as the inverse of the skipComponent feature fairly easily. PR's are welcome!

[2021-03-24 18:16] kcarmonamurphy commented on #195
@IgorKvasn Thank you for your suggestion. In order to get this addon working locally, I had to use `Buffer` instead of `SafeBuffer`. So just this one change:

`return Buffer.from(json, 'utf8').toString('base64'); //<--------------------- this line is different` and everything now works!

[2021-03-24 18:41] kcarmonamurphy commented on #436
PR posted: https://github.com/ember-codemods/ember-angle-brackets-codemod/pull/437 cc @tylerturdenpants

[2021-03-30 00:48] runspired commented on #217
@rwjblue is there anything fundamentally preventing this codemod from being used with pods with telemetry or is it just a matter of someone putting in the work?

[2021-03-30 11:41] tylerturdenpants commented on #217
@runspired I know I'm not @rwjblue 😂 but the transform "should work" now since we infer as much as possible without using telemetry. I believe you can use the `--no-telemetry` on pods to get this to work. There are some caveats. Some helpers may need  to be put in a skip config if it is too ambiguous to determine if they are a component. Additionally there is some limitation on converting some blo

[2021-04-30 16:03] tylerturdenpants commented on #436
I'm waiting on CI privileges to check the build and then I plan on releasing today. @rwjblue any ideas why I can't turn on the build in Travis for this? It says I don't have sufficient privileges.

[2021-05-05 00:32] rajasegar commented on #436
@tylerturdenpants When I checked it said, the repository is not active, so I activated it, but the last build was 2 years ago as per their data. I think we should revive #239

[2021-05-05 01:11] tylerturdenpants commented on #436
@rajasegar Absolutely. I will check in to that in the morning.

[2021-06-22 00:27] nfagerlund commented on #195
This bug is unbelievably haunted.

From safe-buffer/index.js:

[code]

The problem seems to start from the first branch, where the native Buffer API is good to go so it just re-exports it.

- If you `console.log(module.exports)` right after that assignment, it'll display the real contents of `require('buffer')`, like you'd expect, including the `.Buffer` prop in question.
- But if you go to the ca

[2021-06-28 14:31] tpetrone opened #482 "Trouble installing on Mac M1 machine"
###### Creating an issue for documenting purposes, not sure if appropriate.
Puppetter dependency fails installing chromium binaries on MBP M1.

This got me on the right track:
https://github.com/puppeteer/puppeteer/issues/6622

[2021-06-30 00:13] runspired opened #485 "link-to conversion drops params"
Noticed while working on ember-api-docs, an example of this is here: https://github.com/ember-learn/ember-api-docs/pull/768/commits/3acc0d5fd868eb273c754402f0faa0dd0c553131#diff-86ff65401adf2a1a22505ed43fd38b01de6f9f5781bfbfb100d1e51c55c0d5e3L55

I'm not sure which of the "special cases" are necessary to trigger this but in our case the dynamic route, query-params present, and data-test hash pair

[2021-06-30 02:18] tylerturdenpants commented on #485
@runspired I'm sure this was likely just an oversight. I can take a look and see if this is something I can address quickly. Is your concern that this might be an edge case or a common occurrence and whether to provide a fix at all? I hope I'm making sense 😆

[2021-06-30 04:04] runspired commented on #485
@tylerturdenpants i suspect not uncommon unless it has to do with the dynamic route name. Definitely a bug to fix, edge case or not.

[2021-06-30 12:46] tylerturdenpants commented on #485
Ok, will try to look at it today.

[2021-07-01 14:25] tylerturdenpants commented on #485
@runspired please review #486

[2021-07-28 15:01] yurikurant commented on #217
thanks, @tomwayson! worked for my app with pods structure like a charm 👍

[2021-09-14 22:40] ctaylor-nurx opened #495 "Incorrect handling of block param properties in iterable helpers"
Ex:
Input
[code]
Output
[code]

[2021-09-15 15:44] tylerturdenpants commented on #495
nice one!  I'm not sure when I can get to it but hopefully it's not that hard.  PR's are welcome.

[2021-09-15 16:39] ctaylor-nurx commented on #495
this issue is that yielded components and regular old data renderings are the same in curly brace notation. The thing to look for is differentiating between iterable helpers and yielded components.

Here's the yielded component example
[code]

[2021-12-03 08:59] runspired opened #496 "Puppeteer errors with hard to decipher reason"
[code]

I suspect this might mean it can't find the require cache at runtime, I am pointing it at a running server...

[2021-12-13 14:19] AmilKey commented on #496
Same error

[2022-01-10 19:34] runspired commented on #195
I suspect the issue here at least partially relates to a failed parse due to invalid syntax. Once the failed parse has occurred I think something happens to the require cache that screws the other runs.

[2022-01-28 13:36] #485 closed

[2022-02-03 17:43] dknutsen opened #497 "Errors with 5.1.0: Cannot read property 'originalPositionFor' of undefined"
We've been hitting errors when running 5.1.0 via npx:
[code]
other notes that may be relevant:
- node v12.22.5
- running without config doesn't change anything
- globally installing the codemod at 5.0.0 works fine

I haven't dug into the details too much. Anyone have any ideas?

[2022-07-22 18:00] ijlee2 commented on #217
For those who land on this issue, I wrote a [codemod to un-pod Ember projects](https://github.com/ijlee2/ember-codemod-pod-to-octane). Feel free to give it a try.